*{
	margin: 0;
}

.container{
	margin: 0 auto;
	width: 1100px;
}
.nav{
		background-color:  #F9F6F1;
}
.container__nav{
	display: flex;
	justify-content: space-between;

}

.logo{
	margin-top:50px;
}

.nav__link{
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.03em;
	color: #212121;
	text-decoration: none;
	margin-top: 61px;
}